body {
  margin: 0;
  background-image: url("images/background.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(252, 196, 233);
}

.title {
  margin-top: 30px;
}

.container {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 800px;
  border-top: 10px solid rgb(227, 117, 213);
  border-bottom: 10px solid rgb(227, 117, 213);
  height: 100%;
  min-height: 100vh;
}
.input-area {
  position: relative;
  margin-top: 40px;
}

/* 해야할일 입력하는 칸 */
.task-input {
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  width: 80%;
  border: none;
  border: 1px solid rgb(7, 7, 7);
  height: 50px;
  /* margin-top: 40px; */
}

.task-input:focus {
  outline: none;
  border-bottom: 3px solid rgb(246, 93, 246);
  border-left: none;
  border-right: none;
  border-top: none;
  transition: 0.5s;
  padding-top: 25px;
  margin-top: 40px;
}

.task-input + label > span {
  margin-top: 40px;
  font-weight: 380;
  margin: 0;
  position: absolute;
  color: #8f8f8f;
  font-size: 14px;
  top: 6px;
  left: 10px;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.task-input:focus + label > span {
  margin-top: 40px;
  top: 0px;
  color: #333;
}

/* 할일추가하기 버튼 */
.button-add {
  width: 130px;
  height: 50px;
  border: none;
  background-color: rgb(245, 91, 222);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: white;
  /* border-radius: 0.9em; */
}
.button-add:hover {
  background-color: rgb(112, 116, 116);
}
.button-add:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15),
    0px 1px 1px rgba(81, 41, 10, 0.15);
  transform: translateY(0.125rem);
}

.task-list-container {
  /* border: 1px solid green; */
  margin-top: 1em;
  position: relative;
}
.tab-type {
  display: flex;
  /* border-bottom: 1px solid green; */
  /* background-color: rgb(150, 197, 252); */
  background-color: rgb(62, 148, 246);
  border-radius: 0.7em;
}

.tab-type div {
  padding: 1em;
  cursor: pointer;
  color: white;
}

#tab-underline {
  background-color: rgb(248, 251, 65);
  height: 4px !important;
  position: absolute;
  top: 52px;
  left: 0px;
  width: 54px;
  transition: 0.5s;
  padding: 0px;
}

.task {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid lightgray;
  position: relative;
  background-color: rgb(150, 197, 252);
  color: white;
  border-radius: 0.7em;
}
.task span {
  /* margin-top: 40px; */
  padding: 1em;
}
.button-box {
  display: flex;
}

.button-box button {
  height: 100%;
  border: none;
  width: 5em;
  margin: 0;
  background-color: rgb(150, 197, 252);
  transition: 0.5s;
  border-radius: 0.7em;
}
.button-box button :active {
  position: relative;
  top: 2px;
}

.button-box button:first-child:hover {
  background-color: rgb(250, 149, 240);
}
.button-box button:nth-child(2):hover {
  background-color: rgba(255, 254, 255, 0.3);
}

.fa-check {
  color: rgb(32, 32, 249);
}

.fa-trash {
  color: rgb(250, 108, 32);
}
.fa-undo-alt {
  color: lightslategray;
}

.task-done {
  text-decoration: line-through;
  background-color: lightgray;
  transition: 0.5s;
}
