/* body {
  margin: 0;
  background-image: url("images/background.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(252, 196, 233);
} */

@font-face {
  font-family: "CrownMychew";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/crown/CrownMychew.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/crown/CrownMychew.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/crown/CrownMychew.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/crown/CrownMychew.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/crown/CrownMychew.ttf")
      format("truetype");
  font-display: swap;
}

html,
body {
  width: 100%;
  height: 100%;

  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  height: 100px;
  margin-bottom: 50px;
}
h1 span {
  font-family: "CrownMychew";
  font-size: 60px;
  color: snow;
  position: relative;
  top: 20px;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc,
    0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent,
    0 8px 0 transparent, 0 9px 0 transparent,
    0 10px 10px rgba(25, 125, 225, 0.5);
  animation: bounce 0.5s ease-out infinite alternate;
  margin-bottom: 50px;
}
h1 span:nth-child(2) {
  animation-delay: 0.1s;
}
h1 span:nth-child(3) {
  animation-delay: 0.2s;
}
h1 span:nth-child(4) {
  animation-delay: 0.3s;
}
h1 span:nth-child(5) {
  animation-delay: 0.4s;
}
h1 span:nth-child(6) {
  animation-delay: 0.5s;
}
h1 span:nth-child(7) {
  animation-delay: 0.6s;
}
h1 span:nth-child(8) {
  animation-delay: 0.7s;
}
h1 span:nth-child(9) {
  animation-delay: 0.8s;
}

@keyframes bounce {
  100% {
    top: -20px;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc,
      0 4px 0 #ccc, 0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent,
      0 8px 0 transparent, 0 9px 0 transparent,
      0 50px 35px rgba(12, 100, 189, 0.5);
  }
}

.title {
  margin-top: 30px;
}

.container {
  background-color: rgb(175, 201, 243);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 800px;
  border-top: 10px solid rgb(227, 117, 213);
  border-bottom: 10px solid rgb(227, 117, 213);
  height: 100%;
  min-height: 100vh;
}
.input-area {
  position: relative;
  margin-top: 40px;
}

/* 해야할일 입력하는 칸 */
.task-input {
  transition: padding-top 0.2s ease, margin-top 0.2s ease;
  width: 80%;
  border: none;
  /* border: 1px solid rgb(254, 249, 249); */
  height: 50px;
  /* margin-top: 40px; */
}

.task-input:focus {
  outline: none;
  border-bottom: 3px solid rgb(246, 93, 246);
  border-left: none;
  border-right: none;
  border-top: none;
  transition: 0.5s;
  padding-top: 25px;
  margin-top: 40px;
}

.task-input + label > span {
  margin-top: 40px;
  font-weight: 380;
  margin: 0;
  position: absolute;
  color: #8f8f8f;
  font-size: 14px;
  top: 6px;
  left: 10px;
  -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
  transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.task-input:focus + label > span {
  margin-top: 40px;
  top: 0px;
  color: #333;
}

/* 할일추가하기 버튼 */
.button-add {
  width: 130px;
  height: 50px;
  border: none;
  background-color: rgb(245, 91, 222);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: white;
  /* border-radius: 0.9em; */
}

/* 할일추가하기 버튼 호버  */
.button-add:hover {
  background-color: rgb(112, 116, 116);
}
.button-add:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81, 41, 10, 0.15),
    0px 1px 1px rgba(81, 41, 10, 0.15);
  transform: translateY(0.125rem);
}

.task-list-container {
  /* border: 1px solid green; */
  margin-top: 1em;
  position: relative;
}
.tab-type {
  display: flex;
  /* border-bottom: 1px solid green; */
  /* background-color: rgb(150, 197, 252); */
  background-color: rgb(62, 148, 246);
  border-radius: 0.7em;
}

.tab-type div {
  padding: 1em;
  cursor: pointer;
  color: white;
}

#tab-underline {
  background-color: rgb(248, 251, 65);
  height: 4px !important;
  position: absolute;
  top: 52px;
  left: 0px;
  width: 54px;
  transition: 0.5s;
  padding: 0px;
}

.task {
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-bottom: 1px solid lightgray;
  position: relative;
  background-color: rgb(150, 197, 252);
  color: white;
  border-radius: 0.7em;
}
.task span {
  /* margin-top: 40px; */
  padding: 1em;
}
.button-box {
  display: flex;
}

.button-box button {
  height: 100%;
  border: none;
  width: 5em;
  margin: 0;
  background-color: rgb(150, 197, 252);
  transition: 0.5s;
  border-radius: 0.7em;
}
.button-box button :active {
  position: relative;
  top: 2px;
}

.button-box button:first-child:hover {
  background-color: rgb(250, 149, 240);
}
.button-box button:nth-child(2):hover {
  background-color: rgba(255, 255, 254, 0.3);
}

.fa-check {
  color: rgb(32, 32, 249);
}

.fa-trash {
  color: rgb(11, 122, 7);
}
.fa-undo-alt {
  color: rgb(202, 253, 50);
}

.task-done {
  text-decoration: line-through;
  background-color: lightgray;
  transition: 0.5s;
}
